<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a6001cem_artapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.6001CEM_ArtApp">
        <activity android:name=".UserGuides" android:screenOrientation="portrait"/>
        <activity android:name=".DailyChallengeViewPosts" android:screenOrientation="portrait"/>
        <activity android:name=".DailyChallengeUploadPost" android:screenOrientation="portrait"/>
        <activity android:name=".DailyChallengeMain" android:screenOrientation="portrait"/>
        <activity android:name=".Challenge3DGeometry" android:screenOrientation="portrait"/>
        <activity android:name=".ChallengeCharacterDesign" android:screenOrientation="portrait"/>
        <activity android:name=".ChallengeLandscape" android:screenOrientation="portrait"/>
        <activity android:name=".ChallengeNavigation" android:screenOrientation="portrait"/>
        <activity android:name=".Password_Update" android:screenOrientation="portrait"/>
        <activity android:name=".UploadProfilePicture" android:screenOrientation="portrait"/>
        <activity android:name=".Account_Deletion" android:screenOrientation="portrait"/>
        <activity android:name=".Email_Update" android:screenOrientation="portrait"/>
        <activity android:name=".ProfileSettings" android:screenOrientation="portrait"/>
        <activity android:name=".HomePage" android:screenOrientation="portrait"/>
        <activity android:name=".Registration" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>