<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a6001cem_artapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.6001CEM_ArtApp" >
        <activity android:name=".DailyChallengeViewPosts" >
        </activity>
        <activity android:name=".DailyChallengeUploadPost" />
        <activity android:name=".DailyChallengeMain" />
        <activity android:name=".Challenge3DGeometry" />
        <activity android:name=".ChallengeCharacterDesign" />
        <activity android:name=".ChallengeLandscape" />
        <activity android:name=".ChallengeNavigation" />
        <activity android:name=".Password_Update" />
        <activity android:name=".UploadProfilePicture" />
        <activity android:name=".Account_Deletion" />
        <activity android:name=".Email_Update" />
        <activity android:name=".ProfileSettings" />
        <activity android:name=".HomePage" />
        <activity android:name=".Registration" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>